@import "tailwindcss";

@theme {
    --color-primary: #059669;
    --color-secondary: #fbbf24;
    --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;
}

body {
    font-family: var(--font-sans);
}